<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <log4net>
    <appender name="TestLogAppender" type="Hawkeye.Tests.Dummies.TestLogAppender, Hawkeye.Tests">
    </appender>
    <appender name="udp" type="Hawkeye.Appenders.UdpAppender, Hawkeye">
      <remoteAddress value="localhost"/>
      <remotePort value="7071"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
    </appender>
    <appender name="eventLog" type="log4net.Appender.EventLogAppender">
      <applicationName value="Hawkeye.Tests"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="udp"/>
      <appender-ref ref="eventLog"/>
      <appender-ref ref="TestLogAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
