redirects: on
framework: net461
source https://www.nuget.org/api/v2/

nuget Antlr3.Runtime
nuget bootstrap
nuget jQuery
nuget jQuery.Validation
nuget Microsoft.ApplicationInsights
nuget Microsoft.ApplicationInsights.Agent.Intercept
nuget Microsoft.ApplicationInsights.DependencyCollector
nuget Microsoft.ApplicationInsights.PerfCounterCollector
nuget Microsoft.ApplicationInsights.Web
nuget Microsoft.ApplicationInsights.WindowsServer
nuget Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel
nuget Microsoft.AspNet.Web.Optimization
nuget Microsoft.jQuery.Unobtrusive.Validation
nuget Modernizr
nuget NuGet.CommandLine
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.Testing
nuget Nancy
nuget Nancy.Owin
nuget Castle.Core 3.3.3
nuget Castle.Windsor 3.4.0
nuget Microsoft.Owin
nuget Microsoft.AspNet.Mvc
nuget Microsoft.AspNet.Razor
nuget Microsoft.AspNet.WebApi
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.WebHost
nuget Microsoft.AspNet.WebPages
nuget Microsoft.Web.Infrastructure
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget Microsoft.Net.Compilers
nuget Moq 
nuget MSBuild.Microsoft.VisualStudio.Web.targets
nuget Newtonsoft.Json
nuget NUnit
nuget log4net
nuget Owin
nuget Respond
nuget WebGrease